<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.braindo.braindo">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activities.LauncherActivity"
            android:theme="@style/BraindoTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.activities.StartUpActivity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.activities.RegistrationActivity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.activities.LoginActivity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.activities.TestActivity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.activities.Test2Activity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.activities.Test3Activity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.activities.CloseActivity"
            android:theme="@style/BraindoTheme.NoActionBar">
        </activity>
    </application>

</manifest>