#page-wrapper-Medical {
  width: 100%;
  padding: 5px 15px;
}

.centerProfileTitle {

    text-align: center;
    padding: 0px 0px 30px 0px;

}

.panel-Medical {
  margin-bottom: 20px;
  background-color: #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body-Medical {
  
  padding: 15px;
  color: #000000;
}

.form-group-Medical {
  margin-bottom: 25px;
  text-align:center;
}

.form-group-Medical-select {
  width: 100%;
}

.form-control-Medical {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  height: 38px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #111111;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #282828;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-Medical:focus {
  border-color: #45b780;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control-Medical::-moz-placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.form-control-Medical-ms-input-placeholder {
  color: #BDBDBD;
}
.form-control-Medical::-webkit-input-placeholder {
  color: #BDBDBD;
}
.form-control-Medical[disabled],
.form-control-Medical[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #adafae;
  opacity: 1;
}


.btn-info-Medical {
  content:'';
  color: #ffffff;
  background-color: #542d89;
  border-color: #ffffff;
  transition: all 0.3s ease;
}

.btn-info-Medical:hover {
  background: #341b56;
  color: #ffffff;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.boxAppointment {
    width:85%; 
    margin-left:auto; 
    margin-right:auto;
    overflow-x:auto;
}

#tblData{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    table-layout: fixed;
}

#tblData th{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #45b780;
    color: #ffffff;
}

#tblData td{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #222222;
    text-align: center;
    font-size: 85%;
    word-wrap:break-word;
}

thead{
    font-size: 15px;
}

#tblData tbody{
    display: block;
    max-height: 325px;
    overflow-y: scroll;
}

#tblData thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#tblData thead {
  width: calc( 100% - 1.1em );
}