#page-wrapper-MentalExam {
  width: 100%;
  padding: 5px 15px;
}

.centerProfileTitle {

    text-align: center;
    padding: 0px 0px 30px 0px;

}

.panel-MentalExam {
  max-width:500px;
  margin-bottom: 20px;
  background-color: #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body-MentalExam {
  
  max-width:500px;
  padding: 15px;
  color: #000000;
}

.form-group-MentalExam {
  margin-bottom: 25px;
  text-align:center;
}

.form-group-MentalExam-select {
  width: 94%;
}

.form-control-MentalExam {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  height: 38px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #111111;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #282828;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-MentalExam:focus {
  border-color: #45b780;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control-MentalExam::-moz-placeholder {
  color: #BDBDBD;
  opacity: 1;
}
.form-control-MentalExam-ms-input-placeholder {
  color: #BDBDBD;
}
.form-control-MentalExam::-webkit-input-placeholder {
  color: #BDBDBD;
}
.form-control-MentalExam[disabled],
.form-control-MentalExam[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #adafae;
  opacity: 1;
}


.btn-info-MentalExam {
  color: #ffffff;
  background-color: #542d89;
  border-color: #ffffff;
}

.btn-info-MentalExam:hover,
.btn-info-MentalExam:focus,
.btn-info-MentalExam:active,
.btn-info-MentalExam.active,
.open .dropdown-toggle.btn-info-MentalExam {
  color: #ffffff;
  background-color: #542d89;
  border-color: #ffffff;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.boxAppointment {
    width:90%; 
    margin-left:auto; 
    margin-right:auto;
    overflow-x:auto;
}

#tblData{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#tblData th{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #45b780;
    color: #ffffff;
}

#tblData td{
    color: #222222;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inlineblock { 
    margin-left:auto; 
    margin-right:auto;
    overflow-x:auto;
}