#page-wrapper-Psychologist {
  width: 100%;
  padding: 5px 15px;
}

.centerProfileTitle {

    font-size: 10px;
    text-align: center;
    padding: 0px 0px 15px 0px;

}

.panel-Psychologist {
  max-width:500px;
  margin-bottom: 20px;
  background-color: #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body-Psychologist {
  
  max-width:500px;
  padding: 15px;
  color: #000000;
}

.form-group-Psychologist {
  margin-bottom: 12px;
  text-align:center;
}

.form-control-Psychologist {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  height: 38px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #111111;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #282828;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-Psychologist:focus {
  border-color: #45b780;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control-Psychologist::-moz-placeholder {
  color: #111111;
  opacity: 1;
}
.form-control-Psychologist-ms-input-placeholder {
  color: #111111;
}
.form-control-Psychologist::-webkit-input-placeholder {
  color: #111111;
}
.form-control-Psychologist[disabled],
.form-control-Psychologist[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #adafae;
  opacity: 1;
}

.list-group-item-psycho {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #45b780;
  border: 1px solid #282828;
}

a.list-group-item-psycho {
  color: #ffffff;
}
a.list-group-item-psycho .list-group-item-heading {
  color: #ffffff;
}

a.list-group-item-psycho.active,
a.list-group-item-psycho.active:hover,
a.list-group-item-psycho.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}

a.PsychoLink{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.PsychoLink:after{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: auto;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.PsychoLink:hover:after{
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}